<% if @comments.present? %>
  <h1>Comments</h1>

  <section class="float-left w-100 mt-5">
    <div class="container">
      <div class="row">
        <h1 class="text-primary w-100 page-title mb-4">Projects</h1>
        <div class="card m-12">
          <div class="card-body">
            <div class="row">
                <p>
                  <table class="table mt-3 table-bordered Air-Pollution">
                    <thead>
                      <tr>
                        <th scope="col">Email</th>
                        <th scope="col">Comment</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% @comments.each do |comment| %>
                        <tr>
                          <td> <%= comment.user.email %></td>
                          <td> <%= comment.body %></td>
                        </tr>
                      <% end %>
                    </tbody>
                  </table>
                </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
<% else %>
  <h1>No comments available.</h1>
<% end %>
